@media screen and (max-width:995px){
    .team-member img{
        width: 7rem;
        height: 7rem;
    }

    .team-member h4{
        font-size: 20px;
    }

    .team-member a{
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .team-member img {
        width: 10rem;
        height: 10rem;
    }

    .kQGPPR{
        display: initial;
    }

    .gHmxLs{
        display: initial;
    }
}